.container {
  height: 100vh;
	width: 100%;
	background: var(--blue);
  display: flex;
	align-items: center;
}

.moveImg{
	height: 100vh;
	background: url('/moveit-background.svg') no-repeat center;
	background-size: contain;
	flex: 1;
}

.container form {
	max-width: 600px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 5rem;
}

.container form img {
	width: 30rem;
}


.container form h1 {
	color: var(--white);
	font-weight: 600;
	margin-bottom: 1.5rem;
	margin-top: 6rem;
}

.container form span {
	width: 20rem;
	height: 3.75rem;

	display: flex;
	margin-bottom: 1.4rem;
}

.container form span img {
	height: 2.5rem;
	width: 2.5rem;
	margin-right: 1.5rem;
}

.container form span p {
	color: var(--text-highlight);
	max-width: 14rem;
}

.container form .loginGithub {
	display: flex;
}
.container form .loginGithub input{
	width: 20rem;
	height: 4.5rem;
	background: linear-gradient(to right,var(--blue-dark), var(--blue));
	color: var(--white);
	padding-left: 2rem;
}
.container form .loginGithub button {
	width: 4.5rem;
	height: 4.5rem;
	background: var(--blue-dark);
	transition: background 0.3s;
}

.container form .loginGithub input:valid + button{
	background: var(--green);
}

@media(max-width: 1282px){
	.container form {
		margin-left: 0;
	}

	.moveImg {
		height: 42rem;
	}
}

@media(max-width: 1132px){
	.container {
		justify-content: center;
		align-items: center;
	}
	.moveImg {
		display: none;
	}
}
